@import './partials/variables.css';
@import './partials/default.css';

nav {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 20px;
}

nav a {
    padding: 8px 20px;
    border-radius: 9999px;
    transition: background-color 0.5s ease;
    font-size: 1.1rem;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.08);
}
