@import './partials/variables.css';
@import './partials/default.css';
@import './partials/header.css';

* {
    color: var(--light);
}

h1, h2 {
    text-transform: uppercase;
}

hr {
    border: none;
    height: 2px;
    background-color: var(--light);
}

.head {
    margin: 40px 0;
}

.head h1 {
    color: var(--accent);
}

.head h2 {
    font-size: 0.9rem;
    margin-top: 10px;
}

h2 {
    font-size: 1.2rem;
    font-weight: 400;
}

.content {
    display: flex;
    gap: 20px;
    margin: 30px 0;
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divider {
    width: 2px;
    background-color: var(--light);
}

.main {
    flex: 5;
}

.main > section {
    margin-bottom: 30px;
}
