* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--base);
}

a {
    text-decoration: none;
}

.btn {
    background-color: transparent;
    font-size: 1.1rem;
    text-align: center;
    color: var(--accent);
    border: 2px solid var(--accent);
    border-radius: 5px;
    padding: 5px 30px;
    margin: 14px;
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 2.0s ease;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--accent);
    color: var(--dark);
    box-shadow: 0 0 14px var(--accent);
}

.btn-confirm {
    border: 2px solid var(--confirm);
    color: var(--confirm);
}

.btn-confirm:hover {
    background-color: var(--confirm);
    box-shadow: 0 0 14px var(--confirm);
}

.btn-deny {
    border: 2px solid var(--deny);
    color: var(--deny);
}

.btn-deny:hover {
    background-color: var(--deny);
    box-shadow: 0 0 14px var(--deny);
}
