nav {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 20px;
}

nav a {
    padding: 8px 20px;
    border-radius: 9999px;
    transition: background-color 1.0s ease, box-shadow 2.0s ease;
    font-size: 1.1rem;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.08);
    box-shadow: 0 0 8px lightgray;
}